# Copia esto como ".env" (sin ".example") en esta misma carpeta (reservas-service/)
SPRING_PROFILES_ACTIVE=prod
DB_URL=jdbc:postgresql://tu-host-de-neon-para-reservas.aws.neon.tech/nombre_bd?sslmode=require
DB_USER=tu_usuario
DB_PASSWORD=tu_password_real_de_neon
