# Copia esto como ".env" (sin ".example") en esta misma carpeta (reservas-service/)
SPRING_PROFILES_ACTIVE=prod
DB_URL=jdbc:postgresql://tu-host.aws.neon.tech/reservasdb?sslmode=require
DB_USER=neondb_owner
DB_PASSWORD=tu_password
AWS_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx